body {


    background-color: gray;

}


#test_container {

    display: flex;
    justify-content: center;

}


#ip_scanned {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Quicksand', sans-serif;
    text-shadow: 3px 2px 5px black
}



#ip_contents {

    text-align: center;
    font-family: 'Quicksand', sans-serif;
}